.task {
  position: absolute;
  box-sizing: border-box;
  width: calc((100%) * 1 - 4px);
  margin-left: 2px;
  padding: 13px 2px;
  margin-bottom: 4px;
  background-color:rgba(106, 132, 255, 0.5);
}

.ltask::after {
  content: '';
  position: absolute;
  top: 0;
  right: -22px;
  width: 0;
	height: 0;
	border-top: 22px solid transparent;
	border-left: 22px solid rgba(106, 132, 255, 0.5);
	border-bottom: 22px solid transparent;
}

.placeholder {
  position: absolute;
  top: 50px;
  box-sizing: border-box;
  width: calc((100%) * 1 - 4px);
  margin-left: 2px;
  padding: 13px 2px;
  margin-bottom: 4px;
}
