.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-width: 320px;
    width: 80%;
    margin: 50px auto;
}

/* .Posts {
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-width: 320px;
    width: 80%;
} */