.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-width: 320px;
    width: 80%;
    margin: 50px auto;
}

.filter {
    margin: 20px auto; 
}

.filter__input {
    padding: 5px 20px;
}

.filter__reset {
    padding: 5px 20px;
}
