.post {
    width: 80%;
    padding: 16px;
    text-align: left;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.post:hover,
.post:active {
    background-color: #C0DDF5;
}

.post__title {
    width: 300px;
    padding: 5px;
    word-wrap: normal;
}

.post__author {
    width: 60px;
    margin: 16px 0;
}

.post__link {
    width: 100px;
    text-align: center;
}

.post__date {
    width: 120px;
    text-align: center;
}
